---
# -----------------------------------------------------------------------------
# TRex Software Actions for the Traffic Simulator
# -----------------------------------------------------------------------------

# - Create the needed directories for TRex download/install/etc
  - name: "prepare TRex installation directory"
    file:
      path: "{{trex_install_dir}}"
      state: directory
      owner: trex
      group: trex
      mode: 0777
      
# - User conveniences
  - name: "create trex HOME symlink"
    file:
      src: "{{trex_install_dir}}"
      dest: "/home/trex/trex"
      owner: trex
      group: trex
      state: link

# - Go TRex software download + installation
  - debug:
      msg: "NOTE: the next step is to download and install TRex software ('{{trex_version}}'), ansible does not support user feedback, please wait ..."

  - name: "download, extract, and install TRex software"
    unarchive:
      src: "{{trex_release_URL}}/{{trex_version}}"
      dest: "{{trex_install_dir}}"
      remote_src: yes

# - Cleanup
  - name: "re-apply directory permissions to TRex installation directory"
    file:
      path: "{{trex_install_dir}}"
      state: directory
      owner: trex
      group: trex
      mode: 0777
      recurse: yes

  - debug:
      msg: "TRex is installed in {{ trex_install_dir }} and is owned by 'trex' user."
